.App {
  text-align: center;
  background-image: url("../resources/backgroundWaves.png");
  background-size: cover;
  color: white;
  min-height: 100vh;
}

.body {
  display: flex;
  justify-content: center;
  
}

