.container {
    background-color: rgba(5, 10, 68, 0.75);
    width: 40vw;
    height: auto;
    margin: 2rem;
    border-radius: 0.5rem;
    justify-content: left;
    text-align: left;
}

h2 {
    margin-left: 1rem;
}